/* Basic */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: #222;
  background: #fff;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}


/* Header */
.btn {
  font-size: 24px;
  font-weight: 700;
  padding: 20px 50px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  background: #eee;
}

.btn-primary {
  background: #6C5CE7;
  color: #fff;
}

.btn-primary:hover {
  background: #5a52e0;
}

.site-header {
  position: relative;
  z-index: 1000;
  width: 100%;
  background: #ffffff;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.259);
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 48px;
  font-weight: 700;
}

.logo img {
  width: 75px;
  height: auto;
  display: block;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  font-size: 18px;
  color: #6C5CE7;
}

.nav-links a:hover {
  color: #000;
}

.nav-links li {
  position: relative;
}

.nav-links li:not(:first-child)::before {
  content: "";
  position: absolute;
  left: -1.3rem;
  top: 50%;
  transform: translateY(-50%);

  width: 6px;
  height: 6px;
  background-color: #FDCB6E;
  border-radius: 50%;
}



/* Hero */
.hero {
  padding: 4rem 2rem;
  position: relative;
}

.hero-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 1000px;
  height: 1000px;
  pointer-events: none; 

  z-index: -1;
}

.hero-bg img {
  position: absolute;
}

.hero-bg img:first-child {
  top: 0;
  right: 0;
  opacity: 0.5;
}

.hero-bg img:last-child {
  top: 20px;
  right: 0px;
}

.hero-content {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 3rem;
}

.hero-text h1 {
  font-size: 96px;
  font-weight: 800;
  color: #2D3436;
  text-shadow: #ffffff 0px 4px;
}

.hero-text h2 {
  font-size: 64px;
  font-weight: 900;
  color: #2D3436;
  margin-bottom: 50px;
}

.highlight {
  color: #d62825;
  padding: 0 0.3rem;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  z-index: 1;
}

.highlight::after {
  content: "";
  position: absolute;
  left: -0.1em;
  right: -0.1em;
  bottom: 0.1em;

  height: 0.53em;
  background: #55EFC4;
  border-radius: 999px;

  z-index: -1;
}


/* Hero image grid */
.hero-grid {
  display: grid;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 110px);

  gap: 30px;

  width: 100%;
  /* max-width: 900px; */
  margin: 0 auto;
}

.hero-card {
  background: #f5f5f5;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.hero-card:nth-child(1) {
  grid-column: 4 / 9;
  grid-row: 1 / 4;
}

.hero-card:nth-child(2) {
  grid-column: 1 / 4;
  grid-row: 2 / 5;
}

.hero-card:nth-child(3) {
  grid-column: 9 / 11;
  grid-row: 2 / 4;
}

.hero-card:nth-child(4) {
  grid-column: 11 / 13;
  grid-row: 2 / 4;
}

.hero-card:nth-child(5) {
  grid-column: 4 / 7;
  grid-row: 4 / 6;
}

.hero-card:nth-child(6) {
  grid-column: 7 / 11;
  grid-row: 4 / 7;
}

.hero-card:nth-child(7) {
  grid-column: 11 / 13;
  grid-row: 4 / 6;
}

.hero-card:nth-child(8) {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.hero-text-card--secondary {
  grid-column: 9 / 13; 
  grid-row: 1 / 2;
}

.hero-cta {
  grid-column: 1 / 4;
  grid-row: 5 / 6;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-btn {
  padding: 15px 50px;
  border-radius: 999px;

  background: #6C5CE7;
  color: #fff;
  font-size: 32px;
  font-weight: 700;

  text-decoration: none;
}

.hero-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  gap: 0.6rem;
  background: transparent
}

.hero-text-card p {
  color: #2D3436;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}

.hero-text-card--secondary p {
  padding-top: 50px;
  color: #2D3436;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}


.hero-card {
  position: relative;
  overflow: hidden;
}

.hero-card h2 {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;

  color: #fff;
  font-weight: 700;
  font-size: 48px;
  text-align: center;

  text-shadow: #000 0px 4px;

  padding-top: 300px;
}

.hero-card h1 {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;

  color: #fff;
  font-weight: 700;
  font-size: 48px;
  text-align: center;

  text-shadow: #000 0px 4px;

  padding-top: 16px;
}

.card-text {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0.5rem;
  padding-top: 40px;

  text-align: center;
  color: #fff;
  text-shadow: 0 4px 10px rgba(0,0,0,0.6);
}

.card-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.card-meta {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.9;
}



/* Features */
.section-header {
  max-width: 900px;
  margin-left: 100px;
  margin-bottom: 3rem;
}

.section-header h2 {
  font-size: 32px;
  margin-bottom: 0.8rem;
}

.section-header p {
  color: #2D3436;
  font-size: 24px;
  font-weight: 300;
}

.features {
  padding: 5rem 2rem;
}

.feature-grid {
  max-width: 1220px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.feature-card {
  padding: 17px;
}

.feature-icon {
  width: 70px;
  height: 70px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 25px;
}

.feature-card:nth-child(1) .feature-icon {
  background: #E84393;
}

.feature-card:nth-child(2) .feature-icon {
  background: #0984E3;
}

.feature-card:nth-child(3) .feature-icon {
  background: #6C5CE7;
}

.feature-card:nth-child(4) .feature-icon {
  background: #00B894;
}

.feature-icon img {
  margin-top: 7px;
  width: 56px;
  height: 56px;
}

.feature-card h3 {
  margin-bottom: 0.6rem;
  font-size: 24px;
}

.feature-card p {
  font-size: 18px;
  color: #2D3436;
  margin-bottom: 1rem;
  font-weight: 300;
  line-height: 32px;
}

.feature-card a {
  font-size: 18px;
  font-weight: 700;
  color: #6C5CE7;

  border: 1px solid #adadadae;
  padding: 8px 16px;
  border-radius: 16px;

  display: inline-block;
  text-decoration: none;
}


/* Footer */
.site-footer {
  position: relative;
  background: #fff;
  padding: 4rem 2rem 8rem; 
}

.footer-top {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.footer-column h4 {
  margin-bottom: 1rem;
  font-size: 14px;
  color: #ADADAD;
  letter-spacing: 4px;
}

.footer-column ul {
  list-style: none;
}

.footer-column .information-links li{
  margin-bottom: 0.6rem;
  font-size: 14px;
  font-weight: 300;
  color: #2D3436;
  padding-bottom: 10px;
}

.social-links {
  display: flex;
  gap: 40px;
  align-items: center;
}

.information-links {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, auto);
  column-gap: 3rem;
}

.footer-column p{
  font-size: 32px;
  font-weight: 700;
  color: #6C5CE7;
}

.footer-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.footer-form input[type="text"],
.footer-form input[type="email"] {
  padding: 0.7rem;
  border-radius: 16px;
  border: none;
  background-color: #c2c2c241;
  font-size: 0.9rem;
  outline: none; 
  width: 100%; 
  box-sizing: border-box;
}

.footer-form textarea,
.footer-form button {
  padding: 0.7rem;
  border-radius: 16px;
  border: none;
  background-color: #c2c2c241;
  font-size: 0.9rem;
  outline: none;
  width: 100%; 
  box-sizing: border-box;
}

.footer-form textarea {
  resize: vertical;
  min-height: 90px;
}

.footer-form button {
  background-color: #6C5CE7;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
  height: 90px;
  font-weight: 700;
  font-size: 24px;
  text-shadow: #0000002a 0px 4px 5px;
}

.wave {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: auto;

  pointer-events: none; /* 不挡点击 */
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger span {
  width: 22px;
  height: 2px;
  background: #000;
}

@media (max-width: 768px) {

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #fff;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
  }


  .nav-links.active {
    display: flex;
  }

  .nav-right {
    display: none;
  }

  .burger {
    display: flex;
  }

  .hero-grid {
    grid-template-columns: 1fr;
    gap: 10px;
    grid-template-rows: repeat(6, 50px);
  }

  .hero-btn {
    display: none;
  }

  .hero-text-card p {
    display: none;
  }

  .hero-text-card--secondary p {
    display: none;
  }

  .hero-card h2 {
    display: none;
  }

  .hero-card h1 {
      display: none;
  }

  .card-text {
      display: none;
  }


  .feature-grid {
    grid-template-columns: 1fr;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero h2 {
    font-size: 1.4rem;
  }

  .footer-top {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .footer-form {
    display: none;
  }
}
